.container{
    display: flex;
}
.navbar-brand img{
width: 20%;
}
.A h1{
    color: rgb(189, 189, 28);
}
.P{
    text-align: center;
}
.btn-primary1{

}

.P h1{
    color: rgb(185, 185, 36);
}
.M{
    background-color: aqua;
background-size: cover;
}

.S h1{
    color: rgb(148, 148, 22);
}
.header section nav{

justify-content: right;
margin-left: 550px;
margin-right: 0px;
margin-top: 110px;
width: 20%;
border-bottom: 0 auto;
}
.A{
    text-align: center;
background-color:rgba(217, 223, 228, 0.678);

}
.f{
    background-color: rgb(141, 118, 161);
}
.T{
    background-color: rgb(98, 90, 105);
}
.m h1{
    color: rgb(184, 184, 45);
}
.h h1{
    color: rgb(189, 189, 41);
}
.B{
background-color:rgba(217, 223, 228, 0.678);
text-align: center;

}
.D{
    text-align: center;
}
/* .container-sm{

margin-left: 20%;
margin-right: 20%;
} */
.k{
    margin-left: 30%;
    margin-right: 30%;
}
.h{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%; 

}
/* .g{
    margin-left: 25%;
    margin-right: 25%; 
    top: 10px;
} */
.form-floating{
    margin-left: 10%;
    margin-right: 20%;
    padding: 60px;
    padding-top: 5px;
}
.d-grid  {
    
    width: 1926px;
    margin-left: 20%;
    margin-right: 20%;
}
.btn-primary{ 
background-color: brown;
padding: 40px;
margin-left: 20%;
margin-right: 20%;
right: 40px

}
.btn-sm{
    background-color: rgb(50, 42, 165);
}
.btn-outline-success {
text-align: center;
margin: 40px;
padding: 2px;
right: 70px;
background-color: rgb(0, 255, 76);
}
.secttion p{
    text-align: center;
}
.M h1{
    color: yellowgreen;

}
.V{
    background-color: rgb(102, 85, 102);
}
.Q{
    text-align: center;
}
.W{
    display: flex;
    justify-content: center;
}
.row{
    border: 0;
    padding: 100px;
}
.S{
    text-align: center;
}
.O{
 
}
.M strong{
    color: brown;
}
.container{
   display: flex;
   justify-content: right;
}
.m{
    text-align: center;
}
